<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- name space는 UserRepo의 fully qualified name으로 설정한다. -->
<mapper namespace="com.ssafy.fit.model.dao.UserDao">
	<resultMap type="User" id="userMap">
		<result column="user_seq" property="userSeq"/>
		<result column="id" property="id"/>
		<result column="pw" property="password"/>
		<result column="nickname" property="nickname"/>
		<result column="email" property="email"/>
		<result column="age" property="age"/>
	</resultMap>

	<!-- 유저 등록 -->
	<insert id="insert" parameterType="User">
		insert into users (id, pw, nickname, email, age) values (#{id}, #{password}, #{nickname}, #{email}, #{age})
	</insert>
	
	<!-- 유저 찾기 -->
	<select id="selectAll" resultMap="userMap">
		select * from users
	</select>
	
	<!-- 포함하는 sql문 짤거면 where like concat("%",#{id},"%") -->
	<select id="selectById" parameterType="String" resultMap="userMap">
		select * from users where id=#{id}
	</select>
	
	<select id="selectByNickname" parameterType="String" resultMap="userMap">
		select * from users where nickname=#{nickname}
	</select>
	
	<select id="selectByEmail" parameterType="String" resultMap="userMap">
		select * from users where email=#{email}
	</select>
	
	<update id="update" parameterType="User">
		update users set pw = #{password}
		where id = #{id}
	</update>
	
	<delete id="delete" parameterType="String">
		delete from users
		where id = #{id}
	</delete>
	
</mapper>